.background {
  background-color: var(--color-gray-background);
}

.unitSpearation {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.roundedContainer {
  background-color: white;
  border-radius: 8px;
  margin: 0;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
}

.count {
  color: var(--color-primary);
  font-weight: 200;
  font-size: 36px;
  padding: 20px 0;
}

.unit {
  font-weight: 200;
  font-size: 10px;
  margin: 0;
  color: #828282;
}

.dDayContainer {
  display: grid;
  column-gap: 8px;
  grid-template-columns: repeat(4, 1fr);
  margin: 0 36px 0 36px;
}

.remainGuide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  font-size: 12px;
  color: var(--color-primary);
}

.highlight {
  font-weight: bold;
  color: #8c9a6f;
}

.originalSize {
  width: auto !important;
  height: auto !important;
}
