.container {
    background-color: #F3F5F0;
}

.locationTitle {
    font-size: 33px;
    color: #111111;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.locationName {
    font-size: 14px;
    color: #111111;
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.locationAddr {
    font-size: 14px;
    color:var(--color-secondary);
    margin: auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

.mapContainer {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 auto;
}
