.container {
  --container-max-width: 400px;
  max-width: var(--container-max-width);
  width: 100vw;
  margin: 0 auto;
  border-radius: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  opacity: 0;
  animation: fadeIn 0.5s ease forwards;
  transition: opacity 0.5s ease;
  border-radius: 24px;
}

.overlayHidden {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.noScroll {
  overflow: hidden !important;
  max-height: 100vh;
}
