.container {
  max-width: 400px;
  width: 100vw;
  margin: 0 auto;
  border-radius: 24px;
  overflow-x: hidden;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  background-color: white;
}