.mainMessage {
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
}
.contents {
  font-size: 15px;
  line-height: 38px;
  margin: 0 60px;
  line-height: 2;
  color: #111111;
}
