.mainMessage {
  width: 100%;
  text-align: center;
  background-color: white;
}

.verticalDivider {
  width: 1px;
  height: 24px;
  background-color: #8b9a6e;
  margin: 98px auto 32px auto;
}

.contents {
  font-size: 14px;
  font-weight: 400;
  margin: 0 60px;
  line-height: 2;
  color: black;
}
