.topContent {
  background-color: white;
  padding: 0 0 0;
  text-align: center;
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: auto;
  line-height: 0; /* 이미지 하단 여백 제거 */
}

.textOverlay {
  position: absolute;
  text-align: center;
  min-width: 400px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  color: white; /* 이미지에 따라 조정 */
  z-index: 2;
}

.title {
  position: absolute;
  font-family: var(--font-la-paloma);
  font-size: 36px;
  margin: 76px 0;
  top: 0;
  color: white;
  z-index: 2;
  left: 50%; /* 왼쪽에서 50% 위치 */
  transform: translateX(-50%);
  white-space: normal;
  line-height: 70px;
  font-weight: 100;
}

.names {
  font-size: 11px;
  font-family: var(--font-maruburi);
  font-weight: 300;
  line-height: 1.6;
  margin-bottom: 20px;
}
