@import './styles/colors.css';

:root {
  --background: #DFE6D1;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-maruburi), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  transition: all 0.1s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  user-select: none;
  outline: none;
  border: none;
  overflow: hidden;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button:hover:active {
  filter: brightness(0.9);
}
