@import './styles/colors.css';

:root {
  --background: #F5F7E6;
  --foreground: #171717;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background-color: var(--background);
  background-image: url('/bg_pattern.png');
  background-repeat: repeat;
  background-size: auto;
  font-family: var(--font-maruburi), Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/bg_pattern.png');
  background-repeat: repeat;
  background-size: auto;
  opacity: 0.5;
  pointer-events: none;
  z-index: -1;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

a {
  color: inherit;
  text-decoration: none;
}

.button {
  transition: all 0.1s ease-in-out;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 12px 16px;
  font-size: 1rem;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  text-decoration: none;
  user-select: none;
  outline: none;
  border: none;
  overflow: hidden;
}

.button:hover:not(:disabled) {
  filter: brightness(1.1);
}

.button:hover:active {
  filter: brightness(0.9);
}
